[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=image/jpeg;image/png;image/webp;image/avif;image/bmp;image/svg+xml;
Actions=CropAndSet;
X-KDE-Priority=TopLevel

[Desktop Action CropAndSet]
Name=Set as Wallpaper…
Icon=viewimage
Exec=@SET_WALLPAPER_BIN@ --crop %u
